[Unit]
Description=Data aggregation server for WeatherSTAR units.
After=wxnet-api.service

[Service]
ExecStart=/usr/local/bin/moon
User=mist
Group=mist

[Install]
WantedBy=multi-user.target