[Unit]
Description=Data aggregation server for WeatherStar units
After=moon.service

[Service]
ExecStart=/bin/moon --national --config /etc/wxstar/Moon.nat.config
User=wxstar
Group=wxstar

[Install]
WantedBy=multi-user.target
