[Unit]
Description=Data aggregation server for WeatherStar units
After=starapi.service

[Service]
ExecStart=/bin/moon
User=wxstar
Group=wxstar

[Install]
WantedBy=multi-user.target
